name: Security Check
on: [push]

jobs:
  lint-and-scan:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Secret Detection
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      
      - name: Run ShellCheck
        run: shellcheck skriabina_script.sh

    
      - name: Create Issue on failure
        if: failure()
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: "Security/Linting Alert",
              body: "Помилка у скрипті або знайдено секрети! Перевірте вкладку Actions."
            })
